<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111540567-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111540567-2');
    </script>

    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">My Markdown Archive</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <a href="https://yaoyao-liu.com/markdown-archive/" class="btn">Home</a>
      <a href="{{ site.github.repository_url }}" class="btn">GitHub</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}


      <footer class="site-footer">
        <span class="site-footer-owner"><p align="left"><script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=f2d575&w=170&t=tt&d=TBARstox5dJ2fmFN1mrk8fqjnVyC69BNN199BG_Lo_g&co=1a4d71'></script></script></p></span>
        <span class="site-footer-owner">本项目使用 <a href="https://yaoyao-liu.com/markdown-archive/posts/cc-by-4-license.html">Attribution 4.0 International 许可证</a>. 您可以对本项目的内容进行修改和转载, 但需要注明出处.</span>
        <span class="site-footer-credits">Copyright © 2018 <a href="https://yaoyao-liu.com">YAOYAO LIU</a></span>
      </footer>
    </main>
  </body>
</html>
